@use 'sass:math';

// scss & css variables

:root {
	--scale: 1.0;
	--primary-var: 240, 128, 128;
	--image-height-limited: 70vh;
	--border-color: rgb(128 128 128 / 14%);
	--v-widthM: 50rem;
	--v-widthL: 60rem;

	--bg-color: light-dark(#ffffff, #121212);
	--bg-el1-color: light-dark(var(--bg-color), #1f1f1f);
	--bg-el2-color: light-dark(#f1f1f1, #292929);
	--text-color: light-dark(#2c2c2c, #e4e4e4);
	--text-on-primary: light-dark(white, var(--text-color));
	--primary: light-dark(#ff4747, lightcoral);
	--primary-contrast: light-dark(#f57272, #e65d5d);
	--shadow-color: light-dark(#0000000d, #0000009c);
	--dark-shadow-color: light-dark(#0000006d, black);
	--controls-bg: light-dark(#121212ad, #121212ad);
	--controls-color: light-dark(#e4e4e4, var(--text-color));
	--controls-link-color: light-dark(#7da3f9, var(--link-color));
	--progress-bar-color: light-dark(lightcoral, var(--primary));
	--progress-bar-tip: light-dark(#e4e4e4, var(--text-color));
	--primary-faint: light-dark(#875e5e, #875e5e);
	--primary-transparent: light-dark(#f07f7f80, #f07f7f80);
	--link-color: light-dark(#5589ff, #7da3f9);
	--switcher-bg-hover: light-dark(#ebebeb, #333333);
	--switcher-bg-active: light-dark(#dcdcdc, #404040);
	--switcher-bg-selected: light-dark(#c4c4c4, #616161);
	--divider-color: light-dark(var(--border-color), var(--border-color));
	--user-admin-bg: light-dark(darkred, darkred);
	--user-admin-color: light-dark(#cf0808, #ff3939);
	--user-mod-bg: light-dark(green, green);
	--user-mod-color: light-dark(#31cd31, lightgreen);
	--cancel-btn-bg: light-dark(#5b5b5b, #5b5b5b);
	--upvote-hover: light-dark(#e29709, #efc77b);
	--upvote-filled: light-dark(orange, orange);
	--downvote-hover: light-dark(#547eff, #99abe3);
	--downvote-filled: light-dark(royalblue, royalblue);
	--transparent-btn-hover: light-dark(#00000009, #ffffff1a);
	--transparent-btn-active:	light-dark(#00000018, #ffffff40);
	--input-element-bg: light-dark(var(--bg-el2-color), #4a4a4a);
	--scrollbar-color: light-dark(#a3a3a3a6, #e4e4e4a6);
	--scrollbar-color-hover: light-dark(#a3a3a3d9, #e4e4e4);
	--code-bg: light-dark(var(--bg-el2-color), #363636);
	--table-header-bg: light-dark(#e0e0e0, #4e4e4e);
	--table-header-divider: light-dark(var(--border-color), #2d2d2d);
	--table-row-alt-bg: light-dark(#f5f5f5, #313131);
	--table-row-hover-bg: light-dark(#eaeaea, #3e3e3e);
	--tooltip-bg: light-dark(white, black);
	--quote-color: light-dark(cornflowerblue, cornflowerblue);
	--comment-collapser-bg: light-dark(rgba(4, 4, 4, 0.15), rgba(4, 4, 4, 0.6));
	--comment-collapser-hover-bg: light-dark(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.8));
	--header-bg: light-dark(var(--bg-color), var(--bg-color));
	--header-stroke: light-dark(#c3c3c4, var(--text-color));
	--fab-root-filter: light-dark(grayscale(1) brightness(1) opacity(0.3), grayscale(1) brightness(0.5) opacity(0.65));
	--fab-root-filter-active: light-dark(grayscale(1) brightness(1) opacity(0.5), grayscale(1) brightness(.4) opacity(1));
	--fab-root-shadow: light-dark(#00000026, var(--shadow-color));
	--seen-post-brightness: light-dark(0.95, 0.75);
}

/** default background color */
$background: var(--bg-color);
/** bg color for more important/elevated elements */
$background-el1: var(--bg-el1-color);
$background-el2: var(--bg-el2-color);
/** text color */
$text-color: var(--text-color);
/** text color on primary background */
$text-on-primary: var(--text-on-primary);
$modal-transparent-bg: #00000080;
$header-height: 5rem;
$post-actions-width: 2.2rem;
$post-padding: 1.75rem;
/** default border radius */
$border-radius: math.div($post-padding, 2);
$controls-height: 3rem;
$controls-bg: var(--controls-bg);
$controls-color: var(--controls-color);
$controls-link-color: var(--controls-link-color);
$progress-bar-color: var(--progress-bar-color);
$progress-bar-tip: var(--progress-bar-tip);
$shadow-color: var(--shadow-color);
$dark-shadow-color: var(--dark-shadow-color);
$progress-bar-hover-scale: 3;
/** primary accent */
$primary: var(--primary);
/** equal to $primary; should be used like rgba($primary-var, 0.5) */
$primary-var: var(--primary-var);
/** accent color as background with white text */
$primary-contrast: var(--primary-contrast);
$primary-faint: var(--primary-faint);
$primary-transparent: var(--primary-transparent);
/** view state width in portrait */
$widthP: calc(100vw - 3.4rem);
/** view state width in landscape */
$widthM: min(var(--v-widthM), calc(100vw - 6rem));
/** view state width+ in landscape */
$widthL: min(var(--v-widthL), calc(100vw - 6rem));
$widthMobile: 100vw;
$link-color: var(--link-color);
$border-color: var(--border-color);
$border-heavy-color: rgb(128 128 128 / 22%);
$image-height-limited: var(--image-height-limited);
$switcher-bg: $background-el2;
$switcher-bg-hover: var(--switcher-bg-hover);
$switcher-bg-active: var(--switcher-bg-active);
$switcher-bg-selected: var(--switcher-bg-selected);
$divider-color: var(--divider-color);
$user-admin-bg: var(--user-admin-bg);
$user-admin-color: var(--user-admin-color);
$user-mod-bg: var(--user-mod-bg);
$user-mod-color: var(--user-mod-color);
$cancel-btn-bg: var(--cancel-btn-bg);
$upvote-hover: var(--upvote-hover);
$upvote-filled: var(--upvote-filled);
$downvote-hover: var(--downvote-hover);
$downvote-filled: var(--downvote-filled);
$transparent-btn-hover: var(--transparent-btn-hover);
$transparent-btn-active: var(--transparent-btn-active);
$input-element-bg: var(--input-element-bg);
$scrollbar-color: var(--scrollbar-color);
$scrollbar-color-hover: var(--scrollbar-color-hover);
$code-bg: var(--code-bg);
$table-header-bg: var(--table-header-bg);
$table-header-divider: var(--table-header-divider);
$table-row-alt-bg: var(--table-row-alt-bg);
$table-row-hover-bg: var(--table-row-hover-bg);
$tooltip-bg: var(--tooltip-bg);
$comment-collapser-bg: var(--comment-collapser-bg);
$comment-collapser-hover-bg: var(--comment-collapser-hover-bg);
$quote-color: var(--quote-color);
$header-bg: var(--header-bg);
$header-stroke: var(--header-stroke);
$fab-root-filter: var(--fab-root-filter);
$fab-root-filter-active: var(--fab-root-filter-active);
$fab-root-shadow: var(--fab-root-shadow);
$seen-post-brightness: var(--seen-post-brightness);

$smaller-screen-max-width: 999px;
$mobile-screen-max-width: 500px;
$desktop-screen-min-width: 1000px;

%view-width-M {
	width: $widthM;
	@media (max-width: $smaller-screen-max-width) {
		width: $widthP;
	}
	@media (max-width: $mobile-screen-max-width) {
		width: $widthMobile;
	}
}
%view-width-L {
	width: $widthL;
	@media (max-width: $smaller-screen-max-width) {
		width: $widthP;
	}
	@media (max-width: $mobile-screen-max-width) {
		width: $widthMobile;
	}
}
